// Variables

// Color Schemes
// First Color scheme
$bg-dark: #005F73;
$bg-xdark: #001219;
$bg-light: #0A9396;
$bg-xlight: #94D2BD;
$bg-empty: #E9D8A6;
$bg-yellow: #EE9B00;
$bg-orange: #CA6702;
$bg-dark-orange: #BB3E03;
$bg-red: #AE2012;
$bg-carmesi: #9B2226;


// Second Color Scheme
$white: #FFF;;

// Font family
$inconsolata: 'Inconsolata', monospace;

// Font Weight
$light: 300;

// Media Queries
$bp-sm: 576px;
$bp-md: 768px;